.app .header {
  background-color: #363d46;
  box-shadow: 0 100px 250px 20px rgba(0, 0, 0, 0.3);
  justify-content: center; }
  .app .header .logo {
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    padding: 20px 0;
    margin: 0;
    text-shadow: 2px 2px 1px black; }
    .app .header .logo span {
      transition: all .3s; }
      .app .header .logo span:first-child {
        color: #38e2bd;
        text-transform: uppercase; }
      .app .header .logo span:last-child {
        color: #fa6e6e;
        text-transform: uppercase; }
    .app .header .logo:hover span:last-child {
      color: #38e2bd;
      text-transform: uppercase; }
