.app {
	.header {
		background-color: #363d46;
		box-shadow: 0 9px 21px -6px rgba(0, 0, 0, 0.55);
		justify-content: center;
		.logo {
			font-size: 22px;
			text-align: center;
			cursor: pointer;
			padding: 20px 0;
			margin: 0;
			text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
			span {
				transition: all .3s;
				&:first-child {
					color: #38e2bd;
					text-transform: uppercase;
				}
				&:last-child {
					color: #fa6e6e;
					text-transform: uppercase;
				}
			}
			&:hover {
				span {
					&:last-child {
						color: #38e2bd;
						text-transform: uppercase;
					}
				}
			}
		}
	}
	.boards {
		.board-list {
			p {
				width: 100%;
				margin-bottom: 15px;
				span {
					text-transform: none;
				}
			}
			.list {
				display: flex;
				flex-flow: row wrap;
				a {
					width: 305px;
					height: auto;
					text-align: left;
					margin: 0 10px 10px 0;
					flex-direction: column;
					p {
						margin: 0;
					}
					&:nth-child(6n) {
						margin-right: 0;
					}
				}
			}
			display: flex;
			flex-flow: row wrap;
			padding: 20px 20px 10px;
		}
		.create-board {
			padding: 20px;
			p {
				width: 100%;
				margin-bottom: 10px;
			}
			form {
				display: flex;
				flex-flow: row wrap;
				input {
					width: 305px;
					margin-right: 10px;
					&.validation-success {
						border-color: #38e2bd;
					}
				}
			}
		}
	}
	.board {
		padding: 20px 0;
		.create {
			display: flex;
			justify-content: flex-end;
		}
		.backlog, .develop, .test, .done {
			border-right: 1px solid #aaadb3;
			margin: 20px 0;
			h3 {
				padding: 0 10px;
				font-size: 12px;
				span {
					font-size: 14px;
				}
			}
			.backlog-list, .develop-list, .test-list, .done-list {
				padding: 10px;
				min-height: calc(100vh - 244px);
				border-radius: 5px;
				.backlog-task, .develop-task, .test-task, .done-task {
					border: 1px solid #000;
					margin-bottom: 10px;
					background-color: #363d46;
					border-radius: 5px;
					padding: 5px;
					box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
					font-size: 12px;
					transition: all .3s;
					cursor: pointer;
					&:hover {
						box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
					}
					p {
						margin: 5px 0;
						letter-spacing: .7px;
						span {
							font-weight: 700;
						}
					}
				}
				.backlog-task {
					border-left: 8px solid #fa6e6e;
					color: #fa6e6e;
					span {
						color: #aaadb3;
					}
				}
				.develop-task {
					border-left: 8px solid #fcac79;
					color: #fcac79;
					span {
						color: #aaadb3;
					}
				}
				.test-task {
					border-left: 8px solid #cc96ef;
					color: #cc96ef;
					span {
						color: #aaadb3;
					}
				}
				.done-task {
					border-left: 8px solid #38e2bd;
					color: #38e2bd;
					span {
						color: #aaadb3;
					}
				}

			}
			.backlog-list {
				&.drop-hover {
					background: linear-gradient(to bottom, rgba(250, 110, 110, .3) 1%, #22242a 100%)
				}
			}
			.develop-list {
				&.drop-hover {
					background: linear-gradient(to bottom, rgba(252, 172, 121, .3) 1%, #22242a 100%)
				}
			}
			.test-list {
				&.drop-hover {
					background: linear-gradient(to bottom, rgba(204, 150, 239, .3) 1%, #22242a 100%)
				}
			}
			.done-list {
				&.drop-hover {
					background: linear-gradient(to bottom, rgba(56, 226, 189, .3) 1%, #22242a 100%)
				}
			}
		}
		.backlog {
			h3 {
				span {
					color: #fa6e6e;
				}
			}
		}
		.develop {
			h3 {
				span {
					color: #fcac79;
				}
			}
		}
		.test {
			h3 {
				span {
					color: #cc96ef;
				}
			}
		}
		.done {
			border-right: none;
			h3 {
				span {
					color: #38e2bd;
				}
			}
		}
	}
	.task-form, .developer-form {
		padding: 20px;
		max-width: 800px;
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		h3 {
			text-align: center;
			margin-bottom: 20px;
			font-size: 22px;
			span {
				color: #fa6e6e;
				text-transform: uppercase;
			}
		}
		input, textarea, select {
			margin-bottom: 20px;
		}
		textarea {
			height: 50px;
			max-height: 100px;
			min-height: 50px;
		}
	}
}


