.boards {
	.board-list, .closed-board-list {
		p {
			width: 100%;
			margin-bottom: 15px;
			span {
				text-transform: none;
			}
		}
		.list {
			display: flex;
			flex-flow: row wrap;
			a {
				width: 303px;
				height: auto;
				text-align: left;
				margin: 0 10px 10px 0;
				flex-direction: column;
				font-size: 14px;
				p {
					margin: 0;
					color: #fa6e6e;
					transition: all .3s;
					span {
						color: #aaadb3;
					}
				}
				&:nth-child(6n) {
					margin-right: 0;
				}
				&:hover {
					p {
						color: #38e2bd;
					}
				}
			}
		}
		display: flex;
		flex-flow: row wrap;
		padding: 20px 20px 10px;
	}
	.create-board {
		padding: 20px 20px 40px;
		box-shadow: 0 9px 21px -6px rgba(0, 0, 0, 0.55);
		border-bottom: 1px solid #363d46;
		p {
			width: 100%;
			margin-bottom: 10px;
		}
		form {
			display: flex;
			flex-flow: row wrap;
			input {
				width: 305px;
				margin-right: 10px;
			}
		}
	}
	.closed-board-list {
		padding-top: 20px;
		.closed {
			position: relative;
			.status {
				position: absolute;
				right: 20px;
				top: 3px;
				color: #fa6e6e;
				z-index: 2;
				font-size: 13px;
				pointer-events: none;
			}
			.btn {
				opacity: .5;
			}
		}
	}
}
