* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #22242a;
	color: #aaadb3;
	text-shadow: 2px 2px 1px black;
	cursor: default;
	letter-spacing: .7px;
	p {
		margin: 0;
		word-wrap: break-word;
		span {
			color: #fa6e6e;
		}
	}
	input {
		text-shadow: 2px 2px 1px black;
	}
	.btn {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 15px;
		color: #aaadb3;
		height: 50px;
		width: 305px;
		cursor: pointer;
		background-color: #363d46;
		border-radius: 5px;
		border: 1px solid #000;
		border-left: 8px solid #fa6e6e;
		box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
		text-shadow: 2px 2px 1px black;
		transition: all .3s;
		letter-spacing: .7px;
		span {
			text-transform: uppercase;
			transition: all .3s;
			color: #fa6e6e;
		}
		&:hover, &.validation-success {
			border-left: 8px solid #38e2bd;
			box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
			span {
				color: #38e2bd;
			}
		}
		&:focus {
			box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
		}
	}
	.ellipsis {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	input, textarea, select {
		background: transparent;
		padding: 12px 0;
		color: #aaadb3;
		border: none;
		border-bottom: 1px solid #fa6e6e;
		outline: none;
		box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.1);
		&::placeholder {
			color: #aaadb3;
			opacity: 1;
		}
		&.validation-success {
			border-color: #38e2bd;
		}
	}
	select {
		cursor: pointer;
	}
	.validation {
		position: relative;
		.error-field {
			display: none;
			&.error-field.not-valid {
				position: absolute;
				bottom: -30px;
				color: #fa6e6e;
				font-size: 12px;
				width: auto;
				display: block;
			}
		}
	}
	.d-none {
		display: none;
	}
	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		background-color: #363d46;
		border-radius: 5px;
	}
	&::-webkit-scrollbar-thumb {
		background: #fa6e6e;
		border-radius: 5px;
	}
}
